/* Coolors Exported Palette - https://coolors.co/272932-710000-fdf500-1ac5b0-37ebf3-9381ff-e455ae-cb1dcd-d1c5c0 */

/* SCSS HEX */
$raisin-black: #272932ff;
$blood-red: #710000ff;
$lemon: #fdf500ff;
$keppel: #1ac5b0ff;
$electric-blue: #37ebf3ff;
$medium-purple: #9381ffff;
$frostbite: #e455aeff;
$steel-pink: #cb1dcdff;
$pale-silver: #d1c5c0ff;

/* SCSS HSL */
$raisin-black: hsla(229, 12%, 17%, 1);
$blood-red: hsla(0, 100%, 22%, 1);
$lemon: hsla(58, 100%, 50%, 1);
$keppel: hsla(173, 77%, 44%, 1);
$electric-blue: hsla(183, 89%, 58%, 1);
$medium-purple: hsla(249, 100%, 75%, 1);
$frostbite: hsla(323, 73%, 61%, 1);
$steel-pink: hsla(299, 75%, 46%, 1);
$pale-silver: hsla(18, 16%, 79%, 1);

/* SCSS RGB */
$raisin-black: rgba(39, 41, 50, 1);
$blood-red: rgba(113, 0, 0, 1);
$lemon: rgba(253, 245, 0, 1);
$keppel: rgba(26, 197, 176, 1);
$electric-blue: rgba(55, 235, 243, 1);
$medium-purple: rgba(147, 129, 255, 1);
$frostbite: rgba(228, 85, 174, 1);
$steel-pink: rgba(203, 29, 205, 1);
$pale-silver: rgba(209, 197, 192, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #272932ff, #710000ff, #fdf500ff, #1ac5b0ff, #37ebf3ff, #9381ffff, #e455aeff, #cb1dcdff, #d1c5c0ff);
$gradient-right: linear-gradient(90deg, #272932ff, #710000ff, #fdf500ff, #1ac5b0ff, #37ebf3ff, #9381ffff, #e455aeff, #cb1dcdff, #d1c5c0ff);
$gradient-bottom: linear-gradient(180deg, #272932ff, #710000ff, #fdf500ff, #1ac5b0ff, #37ebf3ff, #9381ffff, #e455aeff, #cb1dcdff, #d1c5c0ff);
$gradient-left: linear-gradient(270deg, #272932ff, #710000ff, #fdf500ff, #1ac5b0ff, #37ebf3ff, #9381ffff, #e455aeff, #cb1dcdff, #d1c5c0ff);
$gradient-top-right: linear-gradient(45deg, #272932ff, #710000ff, #fdf500ff, #1ac5b0ff, #37ebf3ff, #9381ffff, #e455aeff, #cb1dcdff, #d1c5c0ff);
$gradient-bottom-right: linear-gradient(135deg, #272932ff, #710000ff, #fdf500ff, #1ac5b0ff, #37ebf3ff, #9381ffff, #e455aeff, #cb1dcdff, #d1c5c0ff);
$gradient-top-left: linear-gradient(225deg, #272932ff, #710000ff, #fdf500ff, #1ac5b0ff, #37ebf3ff, #9381ffff, #e455aeff, #cb1dcdff, #d1c5c0ff);
$gradient-bottom-left: linear-gradient(315deg, #272932ff, #710000ff, #fdf500ff, #1ac5b0ff, #37ebf3ff, #9381ffff, #e455aeff, #cb1dcdff, #d1c5c0ff);
$gradient-radial: radial-gradient(#272932ff, #710000ff, #fdf500ff, #1ac5b0ff, #37ebf3ff, #9381ffff, #e455aeff, #cb1dcdff, #d1c5c0ff);
